.popup__save-button {
    cursor: pointer;
    border: none;
    margin: 18px 0 37px;
    height: 50px;
    width: 358px;
    background: #000000;
    border-radius: 2px;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    transition: 0.3s;
}

.popup__save-button:hover {
    opacity: 0.8;
}

@media (max-width: 580px) {
    .popup__save-button {
        margin-bottom: 25px;
        font-size: 14px;
        line-height: 17px;
        width: 238px;
        height: 46px;
    }
}

.popup__save-button_disabled {
    background: rgba(0, 0, 0, 0.8);
    cursor: default;
}

.popup__save-button_disabled:hover {
    opacity: 1;
}