.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 880px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    margin: 0 auto 40px;
}

@media (max-width: 980px) {
    .header {
        margin: 0 50px 51px;
    }
}

@media (max-width: 425px) {
    .header {
        margin: 0 0 39px;
    }
}